## Step 1 Import Modules

In [1]:
from ed_input import read_generator_data, read_demand_data, read_region_data
from ed_calculation import perform_dispatch
from ed_output import save_generation_schedule, save_regional_flows, save_demand_analysis
import os

## Step 2 Read Input Data

In [2]:
try:
    gen_df = read_generator_data()
    demand_df = read_demand_data()
    region_df = read_region_data()
    display(gen_df.head(), demand_df.head(), region_df)
except Exception as e:
    print(f"Input error: {str(e)}")

  Generator  Max Capacity Region  Price
0      Gen1           150  North     20
1      Gen2           100  North     25
2      Gen3           250  South     30
3      Gen4           200  South     35
4      Gen5           150   East     40

      North  South  East
Hour
1       250    400   150
2       280    420   180
3       300    450   200
4       320    470   220
5       350    500   250

  Region  Import Limit  Export Limit
0  North            50           100
1  South           100           150
2   East            50            80

## Step 3 Execution of economic dispatch

In [3]:
try:
    results = perform_dispatch(gen_df, demand_df, region_df)
    gen_schedule, region_flows, met_demand, curtailment, reasons = results
    display(gen_schedule.head(), region_flows.head())
except Exception as e:
    print(f"Calculation error: {str(e)}")

   Gen1  Gen2  Gen3  Gen4  Gen5  Gen6
1   150   100   250   150   150     0
2   150   100   250   200   150    30
3   150   100   250   200   150   100
4   150   100   250   200   150   140
5   150   100   250   200   150   180

   North  South  East
1      0      0     0
2     30    -30     0
3     50      0   -50
4     50     20   -70
5     30     50   -80

## Step 4: Outputs & Files

In [4]:
os.makedirs('outputs', exist_ok=True)
try:
    save_generation_schedule('outputs/Generation_Schedule.xlsx', gen_schedule, gen_df)
    save_regional_flows('outputs/Regional_Flows.xlsx', region_flows)
    save_demand_analysis('outputs/Demand_Analysis.xlsx', met_demand, curtailment, reasons)
    print("Output files saved successfully")
except Exception as e:
    print(f"Output error: {str(e)}")

Output files saved successfully

In [5]:
hour = 2
print("Generation:")
display(gen_schedule.loc[hour])
print("\nRegional Flows:")
display(region_flows.loc[hour])
print("\nCurtailment:")
display(curtailment.loc[hour])

Generation:

Gen1    150
Gen2    100
Gen3    250
Gen4    200
Gen5    150
Gen6     30
Name: 2, dtype: int64

Regional Flows:

North    30
South   -30
East      0
Name: 2, dtype: int64

Curtailment:

North    0
South    0
East     0
Name: 2, dtype: int64